<section id="contact" class="relative z-20 py-32">
  <div class="max-w-md space-y-3 text-white mx-5 md:mx-auto">
    <!-- Card -->
    <div
      class="rounded-xl bg-black/70 backdrop-blur-md border border-white/10 divide-y divide-white/10"
    >
      <a
        href="mailto:atnanarianderson@gmail.com"
        class="w-full flex items-center justify-between px-5 py-4 text-sm tracking-widest hover:bg-white/5 transition"
      >
        <span>Mail</span>
        <span>contact@justatnann.dev</span>
      </a>

      <div
        class="w-full flex items-center justify-between px-5 py-4 text-sm tracking-widest hover:bg-white/5 transition"
      >
        <span>Based In</span>
        <span>Indonesia</span>
      </div>

      <button
        class="w-full flex items-center justify-between px-5 py-4 text-sm tracking-widest hover:bg-white/5 transition"
      >
        <span>Language </span>
        <span>Indonesian, English</span>
      </button>
    </div>
  </div>
</section>
