<footer class="relative z-20 px-4 pb-6 text-black text-sm tracking-widest">
  <div
    class="max-w-[1400px] mx-auto flex flex-col md:flex-row items-center justify-between gap-6"
  >
    <!-- Left -->
    <div class="flex gap-6 opacity-70">
      <a href="#home" class="hover:opacity-100 transition">HOME</a>
      <a href="#experience" class="hover:opacity-100 transition">EXPERIENCE</a>
      <a href="#projects" class="hover:opacity-100 transition">PROJECTS</a>
    </div>

    <!-- Right -->
    <div class="flex gap-6 opacity-70">
      <a
        href="https://www.instagram.com/justatnann"
        class="hover:opacity-100 transition">INSTAGRAM</a
      >
      <a
        href="https://github.com/Justatnann"
        class="hover:opacity-100 transition">GITHUB</a
      >
      <a
        href="https://www.linkedin.com/in/atnan-ari-anderson-811346253"
        class="hover:opacity-100 transition">LINKEDIN</a
      >
      <a
        href="https://www.facebook.com/atnan.arianderson/"
        class="hover:opacity-100 transition">FACEBOOK</a
      >
    </div>
  </div>
</footer>
