---
import "../styles/global.css";
---

<div id="container">
  <main>
    <section id="card">
      <h1>An Intr0duct1on</h1>
    </section>

    <div class="grid grid-cols-4 gap-0.5 px-10">
      <div
        class="font-archimotov bg-white/50 backdrop-blur-xs border border-white/20 rounded-xl p-6"
      >
        Hello! I'm Justatnann, a passionate web developer and tech enthusiast. I
        love creating beautiful and functional websites that provide great user
        experiences. When I'm not coding, you can find me exploring new
        technologies, reading about the latest trends in web development, or
        working on personal projects.
      </div>
      <div
        class="font-archimotov bg-white/50 backdrop-blur-xs border border-white/20 rounded-xl p-6"
      >
        Feel free to browse through my projects and get in touch if you'd like
        to collaborate or just say hi! I'm always open to new opportunities and
        connections in the tech community.
      </div>
      <div
        class="font-archimotov bg-white/50 backdrop-blur-xs border border-white/20 rounded-xl p-6"
      >
        Feel free to browse through my projects and get in touch if you'd like
        to collaborate or just say hi! I'm always open to new opportunities and
        connections in the tech community.
      </div>
      <div
        class="font-archimotov bg-white/50 backdrop-blur-xs border border-white/20 rounded-xl p-6"
      >
        Feel free to browse through my projects and get in touch if you'd like
        to collaborate or just say hi! I'm always open to new opportunities and
        connections in the tech community.
      </div>
    </div>

    <style>
      #container {
      }
      h1 {
        font-family: "Dot";
        font-size: 4rem;
      }
      #card {
        padding: 3rem 4rem;
        border: 2px dotted currentColor;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.02);
        backdrop-filter: blur(6px);
      }
      main {
        min-height: 100vh;
        display: grid;
        place-items: center;
      }
    </style>
  </main>
</div>
