---
import '../styles/global.css';
---

<div id="container">
	<main>
		<section id="hero">
			<h1 >
				An Intr0duct1on
			</h1>
		</section>
	</main>
</div>

<style>
	#container {
		height: 100%;
	}
	h1{
		font-family: "Dot";
		font-size: 4rem;
	}
	main {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
