---

import ProjectCard from "./Project-Card.astro";
const projects = [
  {
    title: "Company Profile Website — WordPress",
    period: "Sep 2025 – Sep 2025",
    description:
      "Designed and developed a company profile website for a local business to support digital transformation and improve online presence.",
   
    skills: ["WordPress", "UI/UX", "Project Planning"],
    imageLink: "ngtech.png",
  },
  {
    title: "Healcation — Flutter Mobile App",
    period: "Sep 2024 – May 2025",
    description:
      "A wellness-focused travel companion mobile app designed to help users discover and organize healing travel experiences.",
   
    skills: ["Flutter", "Dart", "Figma", "Leadership"],
    imageLink: "healcation.jpeg",
  },
  {
    title: "Personal Website - Flutter Web",
    period: "Sep 2024 - Dec 2024",
    description: "First Website with Flutter Web.",
    skills: ["Flutter", "Dart"],
    imageLink: "web.jpeg",
  },
  {
    title: "Todo App — Flutter Mobile App",
    period: "Mar 2024 – Apr 2024",
    description:
      "First Flutter project built to learn core mobile development concepts.",
    skills: ["Flutter", "Dart"],
    imageLink: "todo.png",
  },
  {
    title: "Sales Manager and Product Tracking Website - Express.js",
    period: "Sep 2023 - Nov 2023",
    description:
      "A simple web-based application designed to manage manufacturing products, developed as part of the preparation for the UIB Computer Science Expo. The system focuses on streamlining product tracking and management processes. Presented as part of the pre-expo requirement to demonstrate practical application skills",
    skills: [
      "Express.js",
      "Alpine.js",
      "Database Design",
      "Project Management",
      "DrizzleORM",
      "JavaScript",
    ],
    imageLink: "batamnest.jpeg",
  },
  {
    title: "Body Fits - Figma Design",
    period: "Oct 2022 - Dec 2022",
    description:
      "Led a team the UI/UX role, collaborated with designers and developers to create an intuitive and visually engaging user experience. Conducted research, wireframing, and usability testing to enhance interface design. Focused on delivering a well-structured, functional, and user-friendly project that showcased both technical and design excellence.",
  
    skills: ["Figma", "UI/UX Design"],
    imageLink: "bodi.jpeg",
  },
];
---

<section id="projects" class="bg-black py-24 px-6">
  <div class="max-w-6xl mx-auto">
  <h2
    class="font-dot text-center text-4xl md:text-5xl tracking-[0.3em] text-white mb-20"
  >
    PROJECTS
  </h2>

  <div class="max-w-6xl mx-auto columns-1 md:columns-2 gap-8 space-y-8 justify-items-center">
 
        <ProjectCard project={projects}></ProjectCard>
    
    
  </div>
  </div>  
</section>
