---
const {project = []} = Astro.props;
---


<div>
 {
  project.map((proj : any)=>(
    
  
  <div class="relative group w-85 break-inside-avoid mb-8 rounded-2xl border bg-black border-white/15  overflow-hidden transition-all duration-300 hover:border-white/40 hover:shadow-[0_0_40px_rgba(255,255,255,0.08)] hover:-translate-y-1 hover:z-40 hover:backdrop-blur-none">

    <!-- Image -->
    <div class="h-42.5 overflow-hidden border-b border-white/10">
      <img 
        src={
          proj.imageLink
            ? proj.imageLink
            : "https://images.unsplash.com/photo-1559028012-481c04fa702d?q=80&w=1200"}
        class="w-full h-full object-cover grayscale brightness-75 contrast-110 transition-all duration-500 group-hover:grayscale-0 group-hover:brightness-100 group-hover:scale-105"
      />
    </div>

    <!-- Content -->
    <div class="p-5">

      <!-- Date -->
      <div class="text-[11px] tracking-[0.2em] text-white/40 mb-2">
        {proj.period}
      </div>

      <!-- Title -->
      <div class="text-[16px] tracking-[0.06em] font-semibold text-white mb-1">
        {proj.title}
      </div>

      <!-- Subtitle -->
      <div class="text-[13px] text-white/40 mb-4">
        {proj.description}
      </div>

      <!-- Tags -->
      <div class="flex gap-2 flex-wrap">
        {proj.skills.map((skill: string) => (
          <span class="text-[11px] px-3 py-1 rounded-full border border-white/20 text-white/70">
            {skill}
          </span>
        ))}

      

      </div>

    </div>

  </div>
  ))
}
</div>