---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />

    <link rel="icon" type="image/x-icon" href="/logo.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Justatnann's Web</title>
  </head>

  <body>
    <Navbar />
    <div
      aria-hidden="true"
      class="pointer-events-none fixed inset-0 z-10 dot-overlay"
    >
    </div>
    <main id="page-content">
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-color: #dfdfdf;
  }
</style>
